li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

#header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
}

.navbar {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    
}

