body {
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

#header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
}

#hero-banner {
    display: flex;
    background-color: #1F2937;
    justify-content: space-evenly;
    padding-bottom: 50px;
}

#info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
}

.navbar {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    
}

.hero-banner-content {
    display: flex;
    flex-direction: column;
}

.hero-header {
    width: 400px;
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

.hero-text {
    width: 400px;
    font-size: 18px;
    color: #e5e7eb;
}

.hero-button {
    width: 100px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 7px;
    padding: 5px;
}

.hero-banner-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    width: 400px;
}

.place-holder-image {
    color: white;
    font-size: 18px;
}

.info-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.cards {
    display: flex;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 150px;
    align-items: center;
}

.card-box {
    border: 2px solid #3882F6;
    border-radius: 7px;
    width: 100px;
    height: 100px;
}

.card-text {
    text-align: center;
    font-size: 18px;
}

